@import "../../mixins/text.scss";
.cardMovie {
  margin-bottom: 24px;
  margin-left: 25px;
  &__wrapperMovies {
    display: flex;
    gap: 16px;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  &__title {
    @include secondary-title;
  }
}
