@import "../variables/colors.scss";

@import "../mixins/text.scss";
@import "../mixins/buttons.scss";

.auth {
  max-width: 327px;
  border-radius: 10px;
  background-color: #161d2f;
  margin: 0 auto;
  padding: 24px;
  &__icon {
    padding: 48px 171px 132px 172px;
    text-align: center;
  }
  &__title {
    @include main-title;
  }
  &__input {
    border: none;
    border-bottom: 1px solid #5a698f;
    background-color: transparent;
    width: 100%;
    margin-bottom: 24px;
    color: $light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    padding-bottom: 18px;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border-bottom: 1px solid $light;
    }
    &:invalid {
      border-color: red;
    }
  }
  &__button {
    @include button-primary;
    &--link {
      text-decoration: none;
      color: inherit;
    }
  }
  &__info {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $light;
    display: flex;
    justify-content: center;
    background-color: transparent;
    gap: 9px;
    &-2 {
      display: block;
      color: $secondary;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
  }
}
