@import "../mixins/input.scss";
.search {
  @include input;
  background-color: inherit;
  &__icon {
    svg {
      width: 32px;
      height: 32px;
    }
  }
  &__wrapperSearch {
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 24px;
    margin-bottom: 33px;
  }
}
